<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534569205574-vs0abf8n1ihomlreguo0tnp53ju0ok3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534569205574-vs0abf8n1ihomlreguo0tnp53ju0ok3r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>534569205574-o1ijvdnljsdud5km32a3mblfueg19orv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBO9i8BHyKHMhfg8T2QaDL0vwztHyMhjvY</string>
	<key>GCM_SENDER_ID</key>
	<string>534569205574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teambeyya.repeat</string>
	<key>PROJECT_ID</key>
	<string>repeat-ea59b</string>
	<key>STORAGE_BUCKET</key>
	<string>repeat-ea59b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534569205574:ios:dcda64985d922363e02f47</string>
</dict>
</plist>